

<div>
   <li> <p><strong>Name:</strong>  {{ leads.name }} {{ leads.name }}<br>
   <strong>Quote ID#:</strong>  {{ leads.lead_id }}</p></li>
   Address:</strong>  {{ leads.address }}</p></li>
   Phone#:</strong>  {{ leads.phone_number }}</p></li>
   Date and Time:</strong>  {{ leads.date }} at {{ leads.time }}</</p>   </li>


	</div><br>
