body {
  font-size: .875rem;
  


}

h1 {
      font-weight: 600;

    }

h6 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-top: 40px;
      text-align: center;
      
  }

h7 {
      font-size: 18px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 300;
      margin-top: 40px;
      margin-left: 10px;
      
      
  }  

    .form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}

.item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 10px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      text-shadow: 2px 2px 4px #000000;
  }

  .panel-heading {
    font-size: 25px;

  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;

    }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  padding: 2px;
}





/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 #004792;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #004792;
  
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar {
      margin-bottom: 0;
      background-color: #fff;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      
  }
  .navbar li a, .navbar .navbar-brand {
      color: #66419a !important;
      padding-left: 500px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f47721 !important;
      background-color: #fff !important;
      
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


#leadsFULL {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 97%;
    left: 30px;
    position: relative;
}

#leadsFULL th, #leadsFULL td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

#leadsFULL tr:nth-child(even){background-color: #f2f2f2;}



#leadsFULL th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #004792;
    color: white;
}


.right-shadow-overlay {
    background-color: white;
    box-shadow: 10px 0 10px 3px #585858 inset;
    z-index: 50000;
}

.right-shadow-overlay1 {
    background-color: white;
    box-shadow: 10px 0 10px 3px #585858 inset;
    z-index: 49999;

}

.wrapper2 {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 150px ) ;
        grid-template-rows: repeat(2, [row] auto  );
        background-color: #fff;
        color: #444;
        margin: auto;
        width: 100%;
        padding: 10px;
        
        background-image: url("../img/logotest.png");
        background-size: 100%;
    }
  
    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 150px ) ;
        grid-template-rows: repeat(2, [row] auto  );
        background-color: #fff;
        color: #444;
        margin: auto;
        width: 65%;
        padding: 10px;
        padding-top: 60px;
    }

    .box {
        background-color: #f4511e;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;

    }

    .box .box {
        background-color: white;
        color: #444;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    .a {
        grid-column: col / span 2;
        grid-row: row;
        text-align: center;
    }

    .b {
        grid-column: col 3 / span 2;
        grid-row: row;
        text-align: center;
    }

    .c {
        grid-column: col / span 2;
        grid-row: row 2;
        text-align: center;
    }

    .d{
        grid-column: col 3 / span 2;
        grid-row: row 2;
        text-align: center;
        display: grid;
    grid-gap: 10px;
        
    }

    .e {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: center;
    }

    .f {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    .g {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
    }

    .h {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: center;
    }

    .i {
        grid-column: 1/3;
        grid-row: 2;
        text-align: center;
    }

    .j {
        grid-column: 1/2;
        grid-row: 3;
        text-align: center;
    }

    .wrapper1 {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(1, [col] auto ) ;
        grid-template-rows: repeat(1, [row] auto  );
        background-color: #fff;
        color: #444;
        margin: auto;
        width: 100%;
        padding: 10px;
        padding-top: 60px;

    
    }

    .box1 {
        background-color: #f4511e;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;

    }

    .box1 .box1 {
        background-color: white;
        color: #444;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    .a1 {
        grid-column: 1;
        grid-row: 5;
        text-align: center;
    }


   

#overlay {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay2 {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text2{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay3 {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text3{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay4 {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text4{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay5 {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay6 {
    position: fixed;
    display: none;
    width: 66%;
    height: 66%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    background-color: rgba(0,0,0,1);
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
}

#overlay-text6{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay7 {
    position: absolute;
    border-top: double;
     border-left: double;
    display: none;
    width: 66%;
    height: 140%;
    top: 100;
    left: 25%;
    right: 0;
    bottom: 100;
    
    background-color: white;
    z-index: 50001;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;